parameters:
    paths:
        - src
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#^Access to an undefined property MinVWS\\Logging\\Laravel\\Contracts\\LoggableUser::.+.$#'
        - identifier: missingType.iterableValue
